@page
@model OOP_Final_Project.Pages.GuestModel
@{
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<style>
    body {
        background-color: #f7f8ff;
        color: #195478;

    }


    .rounded-16px {
        border-radius: 16px;
    }

    .hover-effect:hover {
        background-color: #d7dbe1;
    }
</style>

<div class="pt-5 mt-5">
    <div class="container mt-5 pt-5 pb-5   shadow" style="background-color: white; border-radius: 36px;">
        <!-- Dashboard Header -->
        <div class="text-center mb-5">
            <h1 class="display-4 fw-bold" style="color:#457b9d; font-family: Tangerine, cursive; font-size: 80pt;">
                Viciousircle Clinic</h1>
            <h5 style="color:#1d3557;">Healthy body - Healthy mind - Healthy soul </h5>
        </div>

        <div class="d-flex justify-content-center">
            <!-- Main Content -->
            <div class="col-md-5 d-flex flex-column gap-md-3">
                <!-- Log in as Patient Button -->
                <button class="btn w-100 py-2 text-light"
                    style="border-radius: 36px; background: linear-gradient(135deg, #28436a, #457b9d);">
                    Log in as Patient
                </button>

                <!-- Make a New Appointment Button -->
                <button class="btn w-100 py-2 "
                    style="border-radius: 36px; border: 1px solid #195478; background-color: transparent; color: #195478;"
                    onmouseover="this.style.background='linear-gradient(135deg,#457b9d, #28436a )'; this.style.color='white';"
                    onmouseout="this.style.background='transparent'; this.style.color='#195478';">
                    Make a New Appointment
                </button>
            </div>
        </div>



    </div>
</div>


@section Scripts {
    <script>
        // Placeholder for future scripts
    </script>
}

<!-- Bootstrap JS and Dependencies -->
<script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
