@page
@model LoginModel
@{
    ViewData["Title"] = "Log In";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-lg border-0">
                <div class="card-header text-center fw-bold fs-4 bg-dark text-white">
                    Log In
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label for="Username" class="form-label">ID or Username</label>
                            <input type="text" class="form-control" id="Username" name="Username"
                                placeholder="Enter your username" required />
                        </div>
                        <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="Password" name="Password"
                                placeholder="Enter your password" required />
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary">Cancel</button>
                            <button type="submit" class="btn btn-dark">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
