@page
@model OOP_Final_Project.Pages.TestModel
@{
    ViewData["Title"] = "Employee List";
}

<h1>Employee List</h1>

@if (Model.Employees.Any())
{
    <table id="employeesTable" border="1">
    <thead>
        <tr>
            <th>ID</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td>@employee.Id</td>
                    @* <td>@employee.Account</td> *@
                    <td>@employee.LastName</td>
                    <td>@employee.FirstName</td>


                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No employees found.</p>
}
