<div class="px-5" style="color: #195478;">
    <!-- Header Section -->
    <div class=" " style="padding-top: 64px;">
        <div class="  d-flex justify-content-between align-items-center mb-4">
            <h3 class="mb-0">Patients</h3>


            <div class="btn btn-outline-dark shadow-sm" id="makeNewAppointmentBtn" data-bs-toggle="modal"
                data-bs-target="#newAppointmentModal">Make new appointment</div>
        </div>
    </div>

    <hr>

    <!-- Statistics Section -->
    <div class="my-4 d-flex flex-wrap gap-md-3" style="justify-content:flex-start;">
        <!-- Total Appointments -->
        <div class="col-md-3 d-flex flex-column">
            <div class="card quick-access-card text-center shadow-sm"
                style="background-color: white; border-radius: 16px;">

                <div class="card-body p-3 pb-2 d-flex flex-column g-2">

                    <div class="d-flex flex-column align-items-start gap-md-2" style="align-items: center;">
                        <div class="text-muted">Total Patients</div>
                        <div class="d-flex gap-md-3 align-items-center">
                            <h3 class="mb-0 pb-0 text-danger">500</h3>
                            <small class="text-danger">
                                <i class="fas fa-arrow-circle-up"></i> 10% last month
                            </small>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Cured Patients -->
        <div class="col-md-3 d-flex flex-column">
            <div class="card quick-access-card text-center shadow-sm"
                style="background-color: white; border-radius: 16px;">
                <div class="card-body p-3 pb-2 d-flex flex-column g-2">
                    <div class="d-flex flex-column align-items-start gap-md-2" style="align-items: center;">
                        <div class="text-muted">Cured Patients</div>
                        <div class="d-flex gap-md-4 align-items-center">
                            <h3 class="mb-0 text-success">300</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Under observation -->
        <div class="col-md-3 d-flex flex-column">
            <div class="card quick-access-card text-center shadow-sm"
                style="background-color: white; border-radius: 16px;">
                <div class="card-body p-3 pb-2 d-flex flex-column g-2">
                    <div class="d-flex flex-column align-items-start gap-md-2" style="align-items: center;">
                        <div class="text-muted">Under observation</div>
                        <div class="d-flex gap-md-4 align-items-center text-warning">
                            <h3 class="mb-0">20</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Upcoming Appointments Section -->
    <div class="card rounded-16px mb-4 shadow-sm p-4" style="background-color: #ffffff;">
        <!-- Filters and Buttons -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="d-flex gap-md-2">
                <!-- View Options -->
                <div class="btn-group" role="group">
                    <button type="button" class="btn   btn-dark">Observed</button>
                    <button type="button" class="btn btn-outline-dark  ">View All</button>
                    <button type="button" class="btn btn-outline-dark ">Cured</button>
                </div>

                @* TODO: Cái này chỉ hiện khi ấn vào view all hoặc previous thôi *@
                <!-- Date Filter -->
                <div>
                    <input type="date" class="form-control d-inline-block w-auto "
                        onchange="filterAppointmentsByDate()">
                </div>
                @* TODO *@

                <!-- Sort Options -->
                <div>
                    <select id="sortTime" class="form-select w-auto " onchange="sortAppointments()">
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </div>
            </div>

            <!-- Search Input -->
            <div class="input-group w-25">
                <span class="input-group-text text-muted">
                    <i class="fas fa-search"></i>
                </span>

                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>




        <!-- Patients List Section -->
        @* TODO: Nếu mà bệnh nhân đã được chữa khỏi sẽ có tag màu xanh, tương tự với các TH khác  *@
        @* <div class="d-flex flex-wrap mb-3 text-dark " style="gap: 36px;">
            @foreach (var patient in Model.Patients)
            {
                <div class="card rounded-12px shadow-sm" style="padding: 6px;">
                    <div class="card-body col-md-3" style="width: 100%;">
                        <div class="d-flex align-items-center gap-md-3">
                            <div class="d-flex align-items-center gap-md-1">
                                <i class="fas fa-user-tag"></i>
                                <h5 class="card-title mb-0">@patient.FirstName</h5>
                            </div>
                            <button class="btn-sm btn btn-outline-dark" onclick="showPatientDetails()">
                                Details
                            </button>
                        </div>
                        <hr>
                        <div class="d-flex gap-md-2 flex-column">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>ID:</div>
                                <div class="text-dark btn-sm" style="background-color:#f4f4f4;">@patient.Id</div>
                            </div>
                            <div class="d-flex gap-md-3 align-items-center">
                                <div>Lastest visit:</div>
                                <div>@(patient.LastVisit?.ToString("yyyy-MM-dd") ?? "Soon")</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div> *@


    </div>

</div>

<div>
    @await Html.PartialAsync("Modals/_newAppointmentModal")
    @await Html.PartialAsync("Modals/_patientDetailsModal")
</div>

<script>
    function showPatientDetails() {


        // Show modal
        const modal = new bootstrap.Modal(document.getElementById('patientDetailsModal'));
        modal.show();
    }

    document.getElementById("makeNewAppointmentBtn").addEventListener("click", function () {
        var modal = new bootstrap.Modal(document.getElementById('newAppointmentModal'), {
            backdrop: false
        });
        modal.show();
    });
</script>