<div class="pt-2 mt-5">
    <div class="mb-4 text-center" style="font-family: Libre Baskerville, serif;">
        <h4><i>Welcome back, <b>Dr. Doe</b></i></h4>
    </div>
    <hr class="">
    <div class="nav flex-column">
        <a href="#" data-page="Dashboard"
            class="nav-link px-3 py-2 mb-2 hover-effect rounded-16px d-flex gap-4 align-items-sm-center"
            style="color: #195478;">
            <i class="fas fa-home"></i> Dashboard
        </a>
        <a href="#" data-page="Appointment"
            class="nav-link px-3 py-2 mb-2 hover-effect rounded-16px d-flex align-items-sm-center gap-4"
            style="color: #195478;">
            <i class="fas fa-calendar-check"></i> Appointment
        </a>
        <a href="#" data-page="Patients"
            class="nav-link px-3 py-2 mb-2 hover-effect rounded-16px d-flex align-items-sm-center gap-4"
            style="color: #195478;">
            <i class="fas fa-user-injured"></i> Patients
        </a>
        <a href="#" data-page="Schedule"
            class="nav-link px-3 py-2 mb-2 hover-effect rounded-16px d-flex align-items-sm-center gap-4"
            style="color: #195478;">
            <i class="far fa-clock"></i> Schedule
        </a>
        <a href="#" data-page="Logout"
            class="nav-link px-3 py-2 mb-2 hover-effect rounded-16px d-flex align-items-sm-center gap-4"
            style="color: #195478;">
            <i class="fas fa-sign-out-alt"></i> Log out
        </a>
    </div>
</div>