<div class="pt-2 mt-5">
    <div class="mb-4 text-center" style="font-family: Libre Baskerville, serif;">
        <h4><i>Welcome back, <b>Dr. Doe</b></i></h4>
    </div>
    <hr>
    <div class="nav flex-column">
        <a href="#" data-page="Dashboard"
            class="nav-link side-link px-3 py-2 mb-2 hover-effect rounded-16px d-flex align-items-center"
            style="color: #195478;">
            <div class="col-md-2 mx-2  d-flex justify-content-center align-items-center">
                <i class="fas fa-home" style="font-size: 1.2rem;"></i>
            </div>
            <div class="col d-flex align-items-center">
                <span>Dashboard</span>
            </div>
        </a>
        <a href="#" data-page="Doctor"
            class="nav-link side-link px-3 py-2 mb-2 hover-effect rounded-16px d-flex align-items-center"
            style="color: #195478;">
            <div class="col-md-2 mx-2  d-flex justify-content-center align-items-center">
                <i class="fas fa-user-md" style="font-size: 1.2rem;"></i>
            </div>
            <div class="col d-flex align-items-center">
                <span>Doctor</span>
            </div>
        </a>
        <a href="#" data-page="Client"
            class="nav-link side-link px-3 py-2 mb-2 hover-effect rounded-16px d-flex align-items-center"
            style="color: #195478;">
            <div class="col-md-2 mx-2 d-flex justify-content-center align-items-center">
                <i class="fas fa-address-book" style="font-size: 1.1rem;"></i>
            </div>
            <div class="col d-flex align-items-center">
                <span>Client</span>
            </div>
        </a>
        <a href="#" data-page="Schedule"
            class="nav-link side-link px-3 py-2 mb-2 hover-effect rounded-16px d-flex align-items-center"
            style="color: #195478;">
            <div class="col-md-2 mx-2 d-flex justify-content-center align-items-center">
                <i class="far fa-clock" style="font-size: 1.2rem;"></i>
            </div>
            <div class="col d-flex align-items-center">
                <span>Schedule</span>
            </div>
        </a>
        <a href="#" data-page="Logout"
            class="nav-link side-link px-3 py-2 mb-2 hover-effect rounded-16px d-flex align-items-center"
            style="color: #195478;">
            <div class="col-md-2 mx-2 d-flex justify-content-center align-items-center">
                <i class="fas fa-sign-out-alt" style="font-size: 1.1rem;"></i>
            </div>
            <div class="col d-flex align-items-center">
                <span>Log out</span>
            </div>
        </a>
    </div>
</div>
