<div class="modal fade" id="appointmentDetailsModal" tabindex="-1" aria-labelledby="appointmentDetailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="appointmentDetailsModalLabel">Appointment Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="accordion" id="appointmentAccordion">
                    <!-- Patient Information -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingPatientInfo">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsePatientInfo" aria-expanded="true"
                                aria-controls="collapsePatientInfo">
                                Patient Information
                            </button>
                        </h2>
                        <div id="collapsePatientInfo" class="accordion-collapse collapse show"
                            data-bs-parent="#appointmentAccordion">
                            <div class="accordion-body">
                                <form id="patientInfoForm">
                                    <div class="d-flex" style="gap: 2rem;">
                                        <div class="d-flex gap-md-2 flex-column w-100">
                                            <div class="mb-3">
                                                <label for="patientID" class="form-label">ID</label>
                                                <input type="number" class="form-control text-muted"
                                                    id="appointmentDetailsPatientID" placeholder="N/A" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="appointmentDetailsPatientName" class="form-label">Full
                                                    Name</label>
                                                <input type="text" class="form-control text-muted"
                                                    id="appointmentDetailsPatientName" placeholder="N/A" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="appointmentDetailsPatientPhone"
                                                    class="form-label">Phone</label>
                                                <input type="text" class="form-control text-muted"
                                                    id="appointmentDetailsPatientPhone" placeholder="N/A" disabled>
                                            </div>
                                        </div>

                                        <div class="d-flex gap-md-2 flex-column w-100">

                                            <div class="mb-3">
                                                <label for="appointmentDetailsPatientEmail"
                                                    class="form-label">Email</label>
                                                <input type="text" class="form-control text-muted"
                                                    id="appointmentDetailsPatientEmail" placeholder="N/A" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="appointmentDetailsPatientAddress"
                                                    class="form-label">Address</label>
                                                <input type="text" class="form-control text-muted"
                                                    id="appointmentDetailsPatientAddress" placeholder="N/A" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="appointmentDetailsPatientLatestVisit"
                                                    class="form-label">Latest
                                                    Visit</label>
                                                <input type="text" class="form-control text-muted"
                                                    id="appointmentDetailsPatientLatestVisit" placeholder="N/A"
                                                    disabled>
                                            </div>

                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Symptoms -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSymptoms">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSymptoms" aria-expanded="false"
                                aria-controls="collapseSymptoms">
                                Reason for Visit
                            </button>
                        </h2>
                        <div id="collapseSymptoms" class="accordion-collapse collapse"
                            data-bs-parent="#appointmentAccordion">
                            <div class="accordion-body">
                                <textarea class="form-control" id="appointmentDetailsPatientReason" rows="4"
                                    placeholder="Describe symptoms"></textarea>
                            </div>
                        </div>
                    </div>


                    <!-- Diagnosis Section -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingDiagnosis">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseDiagnosis" aria-expanded="false"
                                aria-controls="collapseDiagnosis">
                                Diagnosis
                            </button>
                        </h2>
                        <div id="collapseDiagnosis" class="accordion-collapse collapse"
                            aria-labelledby="headingDiagnosis" data-bs-parent="#accordionExample">
                            <div class="accordion-body" id="diagnosis">
                                <textarea class="form-control" id="appointmentDetailsPatientDiagnose" rows="4"
                                    placeholder="Doctor's diagnosis"></textarea>

                            </div>
                        </div>
                    </div>


                    <!-- Prescription Section -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingPrescription">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsePrescription" aria-expanded="false"
                                aria-controls="collapsePrescription">
                                Prescription
                            </button>
                        </h2>
                        <div id="collapsePrescription" class="accordion-collapse collapse"
                            aria-labelledby="headingPrescription" data-bs-parent="#accordionExample">
                            <div class="accordion-body" id="prescription">
                                <h5 class="mb-3">Medicines</h5>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="table-light">
                                            <tr>
                                                <th scope="col" style="width: 5%;">ID</th>
                                                <th scope="col" style="width: 20%;">Medicine Name</th>
                                                <th scope="col" style="width: 10%;">Dosage</th>
                                                <th scope="col" style="width: 10%;">Frequency</th>
                                                <th scope="col" style="width: 15%;">Frequency Unit</th>
                                                <th scope="col" style="width: 10%;">Route</th>
                                                <th scope="col" style="width: 25%;">Instructions</th>
                                            </tr>
                                        </thead>
                                        <tbody id="appointmentMedicinesTableBody">
                                            <!-- Rows will be populated by JavaScript -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>

    </div>
</div>
</div>
