<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OOP_Final_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OOP_Final_Project.styles.css" asp-append-version="true" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">

</head>



<body style=" font-size: 12pt;">
    <header>
        <nav class="navbar navbar-expand-lg fixed-top px-3"
            style="background: linear-gradient(135deg, #1d3557, #457b9d); ">
            <div class="d-flex">
                <a class="navbar-brand fw-bold ps-4 " asp-area="" asp-page="/Index"
                    style="color: #f1faee !important; font-family: Tangerine, cursive; font-size: 23pt;">Viciousircle
                    Clinic</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                    style="border: none; color: #f8f9fa;">
                    <span class="navbar-toggler-icon"
                        style="background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 viewBox%3D%220 0 30 30%22%3E%3Cpath stroke%3D%22rgba%28248, 249, 250, 1%29%22 stroke-width%3D%222%22 stroke-linecap%3D%22round%22 stroke-miterlimit%3D%2210%22 d%3D%22M4 7h22M4 15h22M4 23h22%22/%3E%3C/svg%3E');"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-page="/Index"
                                style=" color: #f8f9fa !important; padding: 0.5rem 1rem; transition: color 0.3s ease;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Inventory/InventoryDashboard"
                                style="   color: #f8f9fa !important; padding: 0.5rem 1rem; transition: color 0.3s ease;">Dashboard
                                Pharmacist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Guest"
                                style="   color: #f8f9fa !important; padding: 0.5rem 1rem; transition: color 0.3s ease;">Guest</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Employees/EmployeeLayout"
                                style="   color: #f8f9fa !important; padding: 0.5rem 1rem; transition: color 0.3s ease;">Doctor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Employees/TestPharma"
                                style="   color: #f8f9fa !important; padding: 0.5rem 1rem; transition: color 0.3s ease;">Pharmacist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Employees/TestManager"
                                style="  color: #f8f9fa !important; padding: 0.5rem 1rem; transition: color 0.3s ease;">Managers</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main pb-0 mb-0">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
